<!-- app/views/projects/new.html.erb -->


<div class=" card container mt-3 " style="background-color: whitesmoke">
  <div class=" text-center mb-4">
    <h1 >New Project</h1>
  </div>

  <%= render 'form', project: @project %>
</div>
<br>